body {
	font-family: Open Sans;
}

.header {
	text-align: center;
	font-style: normal;
	font-weight: bolder;
	font-size: 4vw;
	line-height: 65px;
	margin: auto;
}

.card1 {
	position: absolute;
	width: 240px;
	height: 280px;
	/*margin: -190px 20px 20px 300px;*/
	background: #2e86de;
	border-radius: 32px;
	transition: 0.3s;
}

.card1:hover {
	background: #256bb2;
}

.card2 {
	margin: 110px 0px 21px 711px;
	width: 240px;
	height: 280px;

	background: #ee5253;
	border-radius: 32px;
	transition: 0.3s;
}

.card2:hover {
	background: #be4242;
}

.card3 {
	position: relative;
	width: 320px;
	height: 160px;
	margin: auto;
	/*margin: 315px 550px;*/
	background: #ffffff;
	border: 6px solid #333333;
	box-sizing: border-box;
	border-radius: 32px;
	transition: 0.3s;
}

.card3:hover {
	background: #e6e6e6;
}

.container {
	margin: auto;
	width: 50%;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 100px;

	color: #ffffff;
}

.container2 {
	position: absolute;
	top: 20%;
	left: 40%;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 44px;

	color: #333333;
}

.masuk {
	padding-top: 70px;
	position: relative;
	margin: 0px 0px 0px 70px;
	width: 36%;

	content: url("https://api.iconify.design/bx/bx-log-in.svg?color=white&height=88");
}

.keluar {
	padding-top: 70px;
	position: relative;
	margin: 0px 0px 0px 70px;
	width: 36%;

	content: url("https://api.iconify.design/bx/bx-log-out.svg?color=white&height=80");
}

.pengajuan {
	position: absolute;
	top: 28%;
	left: 12%;

	content: url("https://api.iconify.design/icon-park-outline/permissions.svg?color=black&height=64");
}

.button-admin {
	position: absolute;
	width: 128px;
	height: 64px;
	left: 88%;
	top: 6%;

	background: #cce3ff;
	border-radius: 16px;
}

.container3 {
	position: absolute;
	top: 16%;
	left: 40%;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 44px;

	color: #2e86de;
}

.admin-icon {
	position: absolute;
	top: 30%;
	left: 16%;

	content: url("https://api.iconify.design/grommet-icons/user-admin.svg?color=%232E86DE&height=24");
}

.button-quit {
	position: absolute;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	top: 6%;
	left: 4%;

	background: rgba(239, 139, 139, 0.2);
}

.quit {
	position: absolute;
	top: 17%;
	left: 17%;
	content: url("https://api.iconify.design/fa-solid/power-off.svg?color=%23F17474&height=32");
}
