/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	background-color: white;
	height: 100%;
	overflow: auto;
	border-right: 2px solid #e5e5e5;
}

/* Sidebar links */
.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
	background-color: #ebf3fc;
	color: #2e86de;
	border-left: 4px solid #2e86de;
	text-decoration: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

.logout {
	margin: 114% 0% 0% 0%;
}
